*	{
	margin:  0;
	padding: 0;
}

body	{
	background: linear-gradient(180deg, blue, rgb(103, 130, 210));
}

header	{
	margin: 20px 0;
}
header h1, header p	{
	text-align: center;
	color: white;
}











img	{
	display: block;
}
#image	{
	max-width: 100%;
	height: auto;
	margin: 0 auto;
}